spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  data:
    redis:
      host: ${REDIS_HOST}
logging:
  level:
    com.innowise: ${APP_LOGGING_LEVEL:info}
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/