spring:
  profiles:
    active: local
    include: ${SPRING_SECONDARY_PROFILE:prod}
  application:
    name: user-service
  liquibase:
    change-log: classpath:db/changelog/master.yaml
    enabled: true
  jpa:
    open-in-view: false
  cache:
    type: redis
