spring:
    datasource:
      driver-class-name: org.postgresql.Driver
      url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
      username: ${DB_USER}
      password: ${DB_PASSWORD}
    data:
      redis:
        host: ${REDIS_HOST}
        port: ${REDIS_PORT}
logging:
  level:
    com.innowise: debug
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
